*                               { margin: 0; padding: 0; }
body                            { font-family: 'Roboto', sans-serif; font-size: 0.8em; background: url(../../images/bg.png); }
h2                              { color: #fa9f00; font: 30px Helvetica, Sans-Serif; margin: 0 0 10px 0; }
#page-wrap                      { position: relative; padding-left: 30px; padding-right: 30px; padding-top: 20px; }
#message-wrap                   { position: relative; padding-left: 30px; padding-right: 30px; }

#chat-wrap                      { border: 1px solid #eee; margin: 0 0 15px 0; }
#chat-area                      { overflow: auto; padding: 30px; background: #DCDCDC; padding-top: 40px; padding-bottom: 40px; }
#chat-area p                    { padding-top: 15px; padding-bottom: 10px; border-bottom: 1px solid #ccc; line-height: 30px; }

#send-message-area p            { float: left; color: white; padding-top: 27px; font-size: 14px; }
#chat                           { border: 0px; width: 100%; padding-top: 15px; background: #DCDCDC; text-indent: 10px; }

textarea{
	font-family: 'Roboto', sans-serif; font-size: 1em;
}

.span-chat{
	color: white; background: #3C3C3C; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0;
}

#nick-wrap{
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.95);
	top: 0;
}

#box-nick{
	height: 352px;
	width: 341px;
	left: 50%;
	top: 50%;
	position: absolute;
	margin: -176px 0 0 -170px;
}

#nick{
	width: 277px;
	height: 30px;
	border-radius: 5px;
	border: 2px solid rgb(81, 81, 81);
	background-color: #0B0B0B;
	line-height: 50px;
	padding: 16px;
	font-size: 180%;
	margin-top: 89px;
	color: #ccc;
	margin-left: 13px;
}

.date{
	clear: both;
	font-size: 65%;
}

.admin{
	background-color:#C7C7C7!important;
	color:#000;
}